In [255]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:/Users/Игорь/input"))

[]

In [300]:
data = pd.read_csv('C:/Users/Игорь/data.csv')

rating = data.vote_average.quantile(0.1)
data2 = data[data.vote_average == rating].original_title
print(data2) 

#pair_1 = 0
#pair_2 = 0
#pair_3 = 0
#pair_4 = 0
#pair_5 = 0
# перебор актеров сз поля в таблице и подсчет по парам встречающихся имен
#for actor in data['cast']:
#    if 'Johnny Depp' in actor:
#        if 'Helena Bonham Carter' in actor:
#            pair_1 += 1
#    elif 'Hugh Jackman' in actor:
#        if 'Ian McKellen' in actor:
#            pair_2 += 1
#    elif 'Vin Diesel' in actor:
#        if 'Paul Walker' in actor:
#            pair_3 += 1
#    elif 'Adam Sandler' in actor:
#        if 'Kevin James' in actor:
#            pair_4 += 1
#    elif 'Daniel Radcliffe' in actor:
#        if 'Rupert Grint' in actor:
#            pair_5 += 1
#print(pair_1, pair_2, pair_3, pair_4, pair_5)

##data.head(10)

11                          Jupiter Ascending
111                                     Aloha
291                           Jennifer's Body
313                                  Whiteout
327                                  Old Dogs
340                              Halloween II
458                                Piranha 3D
461                               Tooth Fairy
467                                 MacGruber
473                           My Soul to Take
573                          Saving Silverman
621                                 10,000 BC
772                               Young Adult
785                       Season of the Witch
796                       Conan the Barbarian
831                               The Dilemma
840              I Don't Know How She Does It
905                                Ghost Ship
909                         The Scorpion King
910                                     I Spy
927                       Queen of the Damned
928         Spy Kids 2: Island of Lost Dreams
938                                  Showtime
1040                               Wanderlust
1061                               Alex Cross
1062                        One for the Money
1115                                     Hulk
1122    Legally Blonde 2: Red, White & Blonde
1197                   A Good Day to Die Hard
1236                       Bullet to the Head
1267                            Machete Kills
1276          The Incredible Burt Wonderstone
1351                          Rumor Has It...
1355                      Herbie Fully Loaded
1371                     The Dukes of Hazzard
1427                                 The Cave
1433                               Dark Water
1466                                 The Wild
1506                                 The Omen
1518                        Snakes on a Plane
1547                             The Covenant
1551                        Lady in the Water
1558                               The Return
1588                                 Garfield
1635                         Without a Paddle
1668                        Little Black Book
1684                              Ghost Rider
1721                            Evan Almighty
1862                           Reindeer Games
1888                               Hanging Up
1889                             The In Crowd
Name: original_title, dtype: object

In [257]:
len(data)

1890

# Предобработка датасета

In [258]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [259]:
# data.loc[data['budget'].idxmax()]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [260]:
# data.loc[data['runtime'].idxmax()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [261]:
# data.loc[data['runtime'].idxmin()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [262]:
# # data['runtime'].mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [263]:
# # data['runtime'].median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [264]:
## dt2 = data[data.revenue - data.budget > 0]
##dt2['sm'] = dt2.eval('revenue - budget')
##dt2.loc[dt2['sm'].idxmax()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [265]:
##dt2 = data
##dt2['sm'] = dt2.eval('revenue - budget')
##dt2.loc[dt2['sm'].idxmin()]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [266]:
##dt2 = data[data.revenue - data.budget > 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [267]:
##dt2 = data[data.release_year == 2008]
##dt2['sm'] = dt2.eval('revenue - budget')
##print(dt2.loc[dt2['sm'].idxmax()])
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [268]:
##dt2 = data[(data.release_year > 2012)&(data.release_year < 2015)]
##dt2['sm'] = dt2.eval('revenue - budget')
##print(dt2.loc[dt2['sm'].idxmin()])
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [269]:
##genres = (data.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
##genres.index = genres.index.droplevel(1)
##dt2 = genres['genre'].value_counts().max()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [270]:
##dt1 = data[data.revenue - data.budget > 0]
##genres = (dt1.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
##genres.index = genres.index.droplevel(1)
##dt2 = genres['genre'].value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [271]:
##dt2 = data.groupby('director')['original_title'].count()
##print(dt2.sort_values())
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [272]:
##dt2 = data[data.revenue - data.budget > 0]
##dt2 = dt2.groupby('director')['original_title'].count()
##print(dt2.sort_values())
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [273]:
##dt2 = data.groupby('director')['revenue'].sum()
##print(dt2.sort_values())
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [274]:
#data['value'] = data.eval('revenue - budget')

#cast = set(data.cast.str.split('|').sum())
#b = pd.Series({x: data[data.cast.str.contains(x)].value.sum()
#               for x in cast}).sort_values(ascending = False)
#display(b)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [275]:
#data = data[data.release_year == 2012]
#data['value'] = data.eval('revenue - budget')

#cast = set(data.cast.str.split('|').sum())
#b = pd.Series({x: data[data.cast.str.contains(x)].value.sum()
#               for x in cast}).sort_values(ascending = True)
#display(b)
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [276]:
##dt2 = data[data.budget > data['budget'].mean()]
##pd.DataFrame(dt2.cast.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [277]:
##dt2 = data[data.cast.str.contains('Nicolas Cage', na=False)]
##genres = (dt2.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
##genres.index = genres.index.droplevel(1)
##dt2 = genres['genre'].value_counts()
##print(dt2)
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [278]:
#companies = set(d.production_companies.str.split('|').sum())
#b = pd.Series({x: d[d.production_companies.str.contains(x)].original_title.count()
#               for x in companies}).sort_values(ascending = False)
#display(b)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [279]:
##dt2 = data[data.release_year == 2015]
##stdio = (dt2.production_companies.str.split('|', expand=True).stack().to_frame(name='genre'))
##dt2 = stdio['genre'].value_counts()
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [280]:
##dt2  = data[data['genres'].str.contains("Comedy", na=False)]
##stdio = (dt2.production_companies.str.split('|', expand=True).stack().to_frame(name='genre'))
##dt2 = stdio['genre'].value_counts()
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [281]:
##d = data[(data.release_year == 2012)]
##d['value'] = d.eval('revenue - budget')
##companies = set(d.production_companies.str.split('|').sum())
##b = pd.Series({x: d[d.production_companies.str.contains(x)].value.sum()
##               for x in companies}).sort_values(ascending = False)
##display(b)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [282]:
##dt2 = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
##dt2['sm'] = dt2.eval('revenue - budget')
##print(dt2.loc[dt2['sm'].idxmin()])
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [283]:
#data['sm'] = data.eval('revenue - budget')
#dt2 = data.groupby('release_year')['sm'].sum()
#print(dt2.sort_values())
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [284]:
#data['sm'] = data.eval('revenue - budget')
#dt2 = data[data['production_companies'].str.contains('Warner Bros', na=False)]
#dt2 = dt2.groupby('release_year')['sm'].sum()
#print(dt2)
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [285]:
#data['release_date'] = pd.to_datetime(data['release_date'])
#data['month'] = pd.DatetimeIndex(data['release_date']).month
#dt2 = data.groupby('month')['original_title'].count()
#print(dt2)
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [286]:
##data['release_date'] = pd.to_datetime(data['release_date'])
##data['month'] = pd.DatetimeIndex(data['release_date']).month
##dt2 = data[(data.month == 6)|(data.month == 7)|(data.month == 8)]
##dt2 = dt2['original_title'].count()
##print(dt2)
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [287]:
##data['release_date'] = pd.to_datetime(data['release_date'])
##data['month'] = pd.DatetimeIndex(data['release_date']).month
##dt2 = data[(data.month == 12)|(data.month == 1)|(data.month == 2)]
##dt2 = dt2.groupby('director')['original_title'].count()
##print(dt2.sort_values())
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [288]:
#data['release_date'] = pd.to_datetime(data['release_date'])
#data['month'] = pd.DatetimeIndex(data['release_date']).month
#data['sm'] = data.eval('revenue - budget')
#dt2 = data.groupby('month')['sm'].sum()
#print(dt2.sort_values())
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [289]:
#data['simbol'] = data.original_title.str.len()
#companies = set(data.production_companies.str.split('|').sum())
#b = pd.Series({x: data[data.production_companies.str.contains(x)].simbol.mean()
#               for x in companies}).sort_values(ascending = False)
#display(b)
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [290]:
##data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower()
##data['numword'] = [len(x) for x in data['original_title'].str.split(' ')]
##companies = set(data.production_companies.str.split('|').sum())
##b = pd.Series({x: data[data.production_companies.str.contains(x)].numword.mean()
##               for x in companies}).sort_values(ascending = False)
##display(b)
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [291]:
##data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower()
##df = set(data.original_title.str.split(' ').sum())
##len(df)
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [292]:
answer_ls.append(0)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [293]:
#
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [294]:
##data['sm'] = data.eval('revenue - budget')
##director = data['director'].value_counts().to_frame()
##director = directors.reset_index()
##director.columns=["dt","sum"]
##PDirectors = data[data.sm>0]['director'].value_counts().to_frame()
##PDirectors = PDirectors.reset_index()
##PDirectors.columns=["dt","plus"]
##fnl = PDirectors.merge(director, on='dt', how='left')
##fnl["rez"] = fnl["plus"]/fnl["sum"]
##fnl=fnl[fnl["rez"]==1]
##print(fnl)
answer_ls.append(4)

# Submission

In [295]:
len(answer_ls)

36

In [296]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       0
34  35       0
35  36       4