In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:/Users/Игорь/input"))

[]

In [4]:
data = pd.read_csv('C:/Users/Игорь/movie_bd_v5.csv')
data.head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,7.6,2015
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015

In [5]:
len(data)

1889

# Предобработка датасета

In [12]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [13]:
data.loc[data['budget'].idxmax()]
answer_ls.append(5)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [14]:
data.loc[data['runtime'].idxmax()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [15]:
data.loc[data['runtime'].idxmin()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [16]:
data['runtime'].mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [17]:
data['runtime'].median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [18]:
dt2 = data[data.revenue - data.budget > 0]
dt2['sm'] = dt2.eval('revenue - budget')
dt2.loc[dt2['sm'].idxmax()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
dt2 = data
dt2['sm'] = dt2.eval('revenue - budget')
dt2.loc[dt2['sm'].idxmin()]
answer_ls.append(5)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
dt2 = data[data.revenue - data.budget > 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
dt2 = data[data.release_year == 2008]
dt2['sm'] = dt2.eval('revenue - budget')
print(dt2.loc[dt2['sm'].idxmax()])
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [22]:
dt2 = data[(data.release_year > 2012)&(data.release_year < 2015)]
dt2['sm'] = dt2.eval('revenue - budget')
print(dt2.loc[dt2['sm'].idxmin()])
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [23]:
genres = (data.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
genres.index = genres.index.droplevel(1)
dt2 = genres['genre'].value_counts().max()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [24]:
dt1 = data[data.revenue - data.budget > 0]
genres = (dt1.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
genres.index = genres.index.droplevel(1)
dt2 = genres['genre'].value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [25]:
dt2 = data.groupby('director')['original_title'].count()
print(dt2.sort_values())
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [26]:
dt2 = data[data.revenue - data.budget > 0]
dt2 = dt2.groupby('director')['original_title'].count()
print(dt2.sort_values())
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [27]:
dt2 = data.groupby('director')['revenue'].sum()
print(dt2.sort_values())
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [28]:
data['value'] = data.eval('revenue - budget')

cast = set(data.cast.str.split('|').sum())
b = pd.Series({x: data[data.cast.str.contains(x)].value.sum()
               for x in cast}).sort_values(ascending = False)
display(b)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [29]:
data = data[data.release_year == 2012]
data['value'] = data.eval('revenue - budget')

cast = set(data.cast.str.split('|').sum())
b = pd.Series({x: data[data.cast.str.contains(x)].value.sum()
               for x in cast}).sort_values(ascending = True)
display(b)
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [30]:
dt2 = data[data.budget > data['budget'].mean()]
pd.DataFrame(dt2.cast.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [31]:
dt2 = data[data.cast.str.contains('Nicolas Cage', na=False)]
genres = (dt2.genres.str.split('|', expand=True).stack().to_frame(name='genre'))
genres.index = genres.index.droplevel(1)
dt2 = genres['genre'].value_counts()
print(dt2)
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [32]:
companies = set(d.production_companies.str.split('|').sum())
b = pd.Series({x: d[d.production_companies.str.contains(x)].original_title.count()
               for x in companies}).sort_values(ascending = False)
display(b)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [33]:
dt2 = data[data.release_year == 2015]
stdio = (dt2.production_companies.str.split('|', expand=True).stack().to_frame(name='genre'))
dt2 = stdio['genre'].value_counts()
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [34]:
dt2  = data[data['genres'].str.contains("Comedy", na=False)]
stdio = (dt2.production_companies.str.split('|', expand=True).stack().to_frame(name='genre'))
dt2 = stdio['genre'].value_counts()
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [35]:
d = data[(data.release_year == 2012)]
d['value'] = d.eval('revenue - budget')
companies = set(d.production_companies.str.split('|').sum())
b = pd.Series({x: d[d.production_companies.str.contains(x)].value.sum()
               for x in companies}).sort_values(ascending = False)
display(b)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [36]:
dt2 = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
dt2['sm'] = dt2.eval('revenue - budget')
print(dt2.loc[dt2['sm'].idxmin()])
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [37]:
data['sm'] = data.eval('revenue - budget')
dt2 = data.groupby('release_year')['sm'].sum()
print(dt2.sort_values())
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [38]:
data['sm'] = data.eval('revenue - budget')
dt2 = data[data['production_companies'].str.contains('Warner Bros', na=False)]
dt2 = dt2.groupby('release_year')['sm'].sum()
print(dt2)
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [39]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month
dt2 = data.groupby('month')['original_title'].count()
print(dt2)
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [40]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month
dt2 = data[(data.month == 6)|(data.month == 7)|(data.month == 8)]
dt2 = dt2['original_title'].count()
print(dt2)
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [41]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month
dt2 = data[(data.month == 12)|(data.month == 1)|(data.month == 2)]
dt2 = dt2.groupby('director')['original_title'].count()
print(dt2.sort_values())
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [42]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month
data['sm'] = data.eval('revenue - budget')
dt2 = data.groupby('month')['sm'].sum()
print(dt2.sort_values())
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [43]:
data['simbol'] = data.original_title.str.len()
companies = set(data.production_companies.str.split('|').sum())
b = pd.Series({x: data[data.production_companies.str.contains(x)].simbol.mean()
               for x in companies}).sort_values(ascending = False)
display(b)
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [44]:
data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower()
data['numword'] = [len(x) for x in data['original_title'].str.split(' ')]
companies = set(data.production_companies.str.split('|').sum())
b = pd.Series({x: data[data.production_companies.str.contains(x)].numword.mean()
               for x in companies}).sort_values(ascending = False)
display(b)
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [45]:
data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower()
df = set(data.original_title.str.split(' ').sum())
len(df)
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [46]:
rating = data.vote_average.quantile(0.99)
data2 = data[data.vote_average > rating].original_title
print(data2)
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [47]:
from itertools import combinations
import collections
combi = []
for actor in data.cast:
    for x in combinations(actor.split('|'), 2):
        combi.append(', '.join(x))
c = collections.Counter(combi)
print(c.most_common(1)) 
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [48]:
data['sm'] = data.eval('revenue - budget')
director = data['director'].value_counts().to_frame()
director = directors.reset_index()
director.columns=["dt","sum"]
PDirectors = data[data.sm>0]['director'].value_counts().to_frame()
PDirectors = PDirectors.reset_index()
PDirectors.columns=["dt","plus"]
fnl = PDirectors.merge(director, on='dt', how='left')
fnl["rez"] = fnl["plus"]/fnl["sum"]
fnl=fnl[fnl["rez"]==1]
print(fnl)
answer_ls.append(4)

# Submission

In [49]:
len(answer_ls)

36

In [50]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       5
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       5
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4